
<div style="margin-top: 50px;">
    <div class="row justify-content-center">                   
        <div class="col-md-8 did-u-know-div">
            <h4 class="did-u-know-title">
                <fa-icon style="display:inline;" [icon]="faBullseye" class="custom-icon2" 
                    style="margin-left: 2.5px; margin-right: 2.5px;">
                </fa-icon>
                <span class="did-u-know-title-text">Goal</span> 
            </h4>
            <p class="did-u-know-title-text">
                The pollution in oceans is being a serious threat to sea animals. The news about 
                pollution in seas over world, are increasing each day. We thought the best contribution 
                to solve and help this problem, is creating a token and community which is focused on this 
                problem. In today’s world, crypto currencies take too much attention rather than the actual 
                problems which we should focus. Because of this reason, we use this way to take attention of 
                crypto currency community.
            </p>            
        </div>
    </div>            
</div>