
<div class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 footer-row">
                <p class="disclaimer-text"><b>Disclaimer:</b> The information provided shall not in any way constitute a recommendation as 
                    to whether you should invest in any product discussed. <b>Big Blue Whale Token</b> accepts no liability 
                    for any loss occasioned to any person acting or refraining from action as a result of 
                    any material provided or published.
                </p>
                <p class="icon-text">Icon (which is used for token) made by Darius Dan from www.flaticon.com</p>
            </div>
        </div>
    </div>
</div>
