
.footer-custom {
    background-color: #202d3a;
    color: #f6f8f8;
}

.disclaimer-text {
    font-size: 85%;
    color: #7f8c8d;
    margin-bottom: 8px;
    margin-top: 15px;
}

.icon-text {
    font-size: 85%;
    color: #4e5758;
    margin-bottom: 20px;
}

.footer-row {
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 12.5px;
}