
<div id="questions" class="row" style="margin-top: 25px;">
    <div style="width: 100%; text-align: center;">               
        <p style="font-size: 225%; margin-bottom: 0px;">Questions</p>
        <div class="row justify-content-center">                   
            <div class="col-md-7">                    
                <div class="faq">
                    <div id="question1" class="faq_question border-button-question">
                        How to buy Big Blue Whale Token ?
                    </div>
                    <div id="answer1" class="faq_answer">
                        You can buy BBWT on PancakeSwap. To do that, you need to have Metamask extansion. 
                        If you have metamask extansion on your browser
                        and an Binance Smart Chain user which has an Account with balance, 
                        in the swap section of PancakeSwap, you can buy our tokens. In the swap section, when you 
                        select the token you want to have, you need to paste our contract address, and then 
                        our token will appear and you will be able to swap.
                    </div>       
                </div>
                <div class="faq">
                    <div id="question2" class="faq_question border-button-question">
                        How many tokens are deployed in Pancakeswap ?
                    </div>
                    <div id="answer2" class="faq_answer">                            
                        As it says in Distribution info, 70% of all token supply which is equal 70,000,000 tokens
                        are deployed to PancakeSwap. The other 30,000,000 tokens are held in development team's account.
                        These 30,000,000 tokens will be sold time by time in several years as small amounts (%1>) 
                        to create funding to develop new projects for BWPT.
                    </div>       
                </div>
                <div class="faq">
                    <div id="question3" class="faq_question border-button-question">
                        Is liquidity on PancakeSwap locked ?
                    </div>
                    <div id="answer3" class="faq_answer">                            
                        Yes, the liquidity on PancakeSwap is locked which means there can't be no rug pull. When you invest
                        to our token and buy some, there is no way that its value can be zero. To see if it's locked, you can
                        check if Pancakeswap Liquidity Pool tokens are sent to a dead adress like "0x00...dead". You can look at 
                        the transaction here: 
                        <a style="font-weight: 600; color: #2980b9;" target="_blank" rel=”nofollow”
                            href="https://bscscan.com/tx/0x101f522b23eb64eb08ceb9fc4680ba8ce3f00199fff726fb1947024596e76238">
                            Transaction
                        </a>
                    </div>       
                </div>
            </div>
        </div>               
    </div>
</div>