
<div style="margin-top: 50px;">
    <div class="row justify-content-center">  
        <div class="row col-md-7" style="text-align: center;">
            <p style="font-size: 225%; margin-bottom: 0px; margin-left: auto; margin-right: auto;">
                How to Buy ?
            </p> 
        </div>                                         
        <div class="row col-md-7" style="margin-top: 10px;">
            <div class="col-md-6">
                <iframe width="90%" height="175" 
                    src="https://www.youtube.com/embed/BtXxuedTpyY" 
                    title="YouTube video player" 
                    class="video-frame"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-6">
                <iframe width="90%" height="175" 
                    src="https://www.youtube.com/embed/7f9eHmJy86s" 
                    title="YouTube video player" 
                    class="video-frame"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
            </div>            
        </div>
    </div> 
</div>