
<div style="margin-top: 50px;">
    <div style="text-align: center;">               
        <p style="font-size: 225%;">Roadmap</p>
        <div class="row justify-content-center">                   
            <div class="col-md-7 timeline-div">                    
                <ul class="timeline">
                    <li style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title">Website Opening</p>
                            <p class="timeline-element-date">15.05.2021</p>
                            <p class="timeline-element-text">Our website has been online</p>
                        </div>
                    </li>
                    <li style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title">Token Deployment</p>
                            <p class="timeline-element-date">17.05.2021</p>
                            <p class="timeline-element-text">BbwToken has been deployed to Binance Smart Chain</p>
                        </div>                              
                    </li>
                    <li style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title">Listing on SwapMarkets</p>
                            <p class="timeline-element-date">17.05.2021</p>
                            <p class="timeline-element-text">BbwToken has been listed on PancakeSwap</p>
                        </div>
                    </li>
                    <li style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title">WhitePaper</p>
                            <p class="timeline-element-date">31.05.2021</p>
                            <p class="timeline-element-text">WhitePaper released</p>
                        </div>                              
                    </li>
                    <li style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title">Donations</p>
                            <p class="timeline-element-date">02.06.2021</p>
                            <p class="timeline-element-text">Starting donations to animal help organizations 
                                with initial our donate</p>
                        </div>                              
                    </li>
                    <li>
                        <div style="position: relative;">
                            <p class="timeline-element-title">BscScan Validation</p>
                            <p class="timeline-element-date">10.06.2021</p>
                            <p class="timeline-element-text">BbwToken is valited by BscScan</p>
                        </div>                              
                    </li>
                </ul>
                <ul class="timeline-todo">
                    <li style="margin-top: 25px; margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title" style="color: #7f8c8d;">Listing on Exchanges</p>
                            <p class="timeline-element-date">Soon</p>
                            <p class="timeline-element-text">BbwToken will be listed on some centralized exchange markets</p>
                        </div>
                    </li>
                    <li style="margin-bottom: 25px;">
                        <div style="position: relative;">
                            <p class="timeline-element-title" style="color: #7f8c8d;">Adoption of a Whale</p>
                            <p class="timeline-element-date">Soon</p>
                            <p class="timeline-element-text">A whale will be adopted by our team which means we support the 
                                maintenance of a whale financially.
                            </p>
                        </div>
                    </li>
                </ul>                    
            </div>
        </div>   
    </div>       
</div>