
<div style="margin-top: 50px;">
    <div class="row justify-content-center">                   
        <div class="col-md-8 did-u-know-div">
            <h4 class="did-u-know-title">
                <fa-icon style="display:inline;" [icon]="faLightbulb" class="custom-icon2" 
                    style="margin-left: 2.5px; margin-right: 2.5px;">
                </fa-icon>
                <span class="did-u-know-title-text">Did You Know ?</span> 
            </h4>
            <ul>
                <li>
                    Whales can hold their breaths for at least 20 minutes.
                </li>
                <li>
                    Whales don't sleep.
                </li>
                <li>
                    <b style="color: #f1c40f;">Blue Whale</b> is the largest known creature to ever inhabit the planet.
                </li>             
            </ul>               
        </div>
    </div>            
</div>