
<div id="metrics" style="margin-top: 35px;" class="animate__animated animate__fadeInUp">
    <div style="text-align: center;">
        <p style="font-size: 225%;">Metrics</p>
        <div class="row justify-content-center" style="padding-left: 10px; padding-right: 10px;">
            <div class="custom-metrics-div col-md-7">
                <div class="row metric-first-row">
                    <div class="col-sm-4 custom-text-left">
                        <span class="custom-metrics-span">SYMBOL</span>
                        <br />
                        <p class="custom-metrics-p">BBWT</p>
                    </div>
                    <div class="col-sm-8 custom-text-right">
                        <span class="custom-metrics-span">MAX SUPPLY</span>
                        <br />
                        <p class="custom-metrics-p">100,000,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 custom-text-left">
                        <span class="custom-metrics-span">ICO SALE</span>
                        <br />
                        <p class="custom-metrics-p">No Ico Sale</p>
                    </div>
                    <div class="col-sm-8 custom-text-right">
                        <span class="custom-metrics-span">DISTRIBUTION</span>
                        <br />
                        <p class="custom-metrics-p">70% PancakeSwap, 30% Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>           
</div>